@import 'normalize.css';
@import './fonts.scss';
@import './variables.scss';

html {
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
  font-family: Roboto;
  color: $font-color;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 50px;
}
