@font-face {
  font-family: 'icons';
  src:  url('/assets/fonts/icons/icons.eot?pvrtjp');
  src:  url('/assets/fonts/icons/icons.eot?pvrtjp#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icons.ttf?pvrtjp') format('truetype'),
    url('/assets/fonts/icons/icons.woff?pvrtjp') format('woff'),
    url('/assets/fonts/icons/icons.svg?pvrtjp#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-quotes-right:before {
  content: "\e907";
}
.ic-pencil:before {
  content: "\e906";
}
.ic-image:before {
  content: "\e905";
}
.ic-post-outline:before {
  content: "\e91a";
}
.ic-eye-off-outline:before {
  content: "\e90f";
}
.ic-eye-outline:before {
  content: "\e910";
}
.ic-message-star-outline:before {
  content: "\e911";
}
.ic-star-outline:before {
  content: "\e90d";
}
.ic-star:before {
  content: "\e90e";
}
.ic-account-circle:before {
  content: "\e900";
}
.ic-account-outline:before {
  content: "\e901";
}
.ic-logout:before {
  content: "\e902";
}
.ic-arrow-left:before {
  content: "\e903";
}
.ic-close:before {
  content: "\e904";
}
.ic-help-circle:before {
  content: "\e909";
}
.ic-chevron-down:before {
  content: "\e90a";
}
