/* colors */

$font-color: #303234;
$primary-color: #9393d0;
$accent-color: #3dafec;
$primary-background: #f4f7f9;
$error: #df4e4e;

/* sizes */
$view-size-index: calc(1vh + 1vw);
$content-padding: 10vw;

/* grid */
$xl: 1920px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
$xs: 320px;
